$primary: blue;
$secondary: gray;
$warning: yellow;
$danger: red;
$tertiary:skyblue;
$width: 250px;
$height: 220px;
$padding:20px;
$text-align: center;
$margin-top: 30px;
$margin-left: 400px;
$font-weight: bold;
$size: cover;
$backgroud-repeat: no-repeat;
$background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6A2kDmbm8bX4CQuCtlgBTv9cdxQTznOhDyapAFRk53brvQ0ZgkQ");
$overflow: auto;
$height: 100vh;
$max-height: 300vh;
$align-text:center;
$float: center;